name: Python application (run unit tests and build docker container)

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Run pylint
      run: |
        pip install pylint
        pylint **/*.py
    - name: Run Tests
      run: |
        python -m pytest
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v1 
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Build and Push Docker Image
      run: |
        pwd
        ls
        docker build . -t ghcr.io/${{ github.repository_owner }}/python-server-framework:latest
        docker push ghcr.io/${{ github.repository_owner }}/python-server-framework:latest

